# Build artifacts and temporary files
.coverage*
fully_existentially_constraints.txt
*egg-info
*.prof
*.qdimacs
*.dot
*.pdf
tmp*
tmp.ipynb
tmp.py

# Directories
build*/
dist/
release/
cmake-build-debug/
doc/html/
docs/build
bin_solvers/*
!bin_solvers/download.py
!bin_solvers/build_sharpsat.py
.vscode/
.idea/
.settings/
backup/
venv/
__pycache__/
*__pycache__/
.pytest_cache/

# Environment and system files
.DS_Store
.cproject
.project
.z3-trace
callgrind.out.*

# Downloaded/external tools
vampire*
leo3.jar
eprover*/
twee*
nanoCoP*
Prover9/
kissat*
gappa*
aprove.jar
TPTP4X/
setup_llm.sh
rebase.sh

# Special patterns
!test

# LaTeX auxiliary files
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.brf

## Intermediate documents:
*.dvi
*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex*
*.pdfsync

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

# cprotect
*.cpt

# fixme
*.lox

# (r)(e)ledmac/(r)(e)ledpar
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]*

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs

# gnuplottex
*-gnuplottex-*

# knitr
*-concordance.tex
*.tikz
*-tikzDictionary

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mlf
*.mlt
*.mtc*

# minted
_minted*
*.pyg

# morewrites
*.mw

# mylatexformat
*.fmt

# nomencl
*.nlo

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# pdfcomment
*.upa
*.upb

# pythontex
*.pytxcode
pythontex-files-*/

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# todonotes
*.tdo

# xindy
*.xdy

# xypic precompiled matrices
*.xyc

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp*

# Editor files
*.bak
*.sav
.texpadtmp
*.backup
*~*
*~

# Programming language artifacts
## C/C++
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ll
*.bc

## OCaml
*.cma
*.cmo
*.cmi
*.cmxa

## Java
*.class
*.jar

## Python
*.pyc
*.pyo

## Emacs
\#*\#

