automl_sphinx_theme==0.2.0
ConfigSpace==1.2.1
dask==2024.12.1
dask-jobqueue==0.9.0
emcee==3.1.6
func_timeout==4.3.5
joblib==1.4.2
lightgbm==4.5.0
markdown-exec==1.10.3
matplotlib==3.9.2
mkdocs==1.6.1
mkdocs-gen-files==0.5.0
more-itertools==10.5.0
numpy==1.26.4
pandas==2.2.3
psutil==5.9.8
pyclustering==0.11.0
pynisher==1.0.10
pyrfr==0.9.0
pytest==8.3.5
PyYAML==6.0.2
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
setuptools==69.5.1
sphinx-gallery==0.19.0
torch==2.2.0
typing_extensions==4.11.0
xgboost==2.1.1
